.centered {
  text-align: center;
}
#title {
  font-size: 3rem;
}
<<<<<<< HEAD
.subtitle {
=======
#subtitle {
>>>>>>> 617b9c0485fbf4b3283eb46b925bb38f58b081b8
  font-size: 1.5rem;
}
div {
  background-color: gray;
}
li {
  list-style-type: none;
}
#content {
  text-decoration: underline;
}
.monospaced {
  font-family: monospace;
}
